[submodule ".local/share/vim-plug"]
	path = .local/share/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule ".local/share/dwm-status"]
	path = .local/share/dwm-status
	url = git@github.com:s1n7ax/dwm-status.git
