*
!.gitignore

/* CONFIG */
!.config

!.config/bspwm
!.config/bspwm/**/*

!.config/sxhkd
!.config/sxhkd/**/*

!.config/i3
!.config/i3/**/*

!.config/nvim
!.config/nvim/**/*

/* DWM */
!.dwm
!.dwm/**/*

/* FONTS */
!.fonts
!.fonts/**/*

/* BIN */
!.local
!.local/bin
!.local/bin/**/*

/* DOT FILES */
!.gitconfig
!.imwheelrc
!.nvidia-settings-rc
!.xinitrc
!.Xresources
